services:
  - type: web
    name: ecommerce-backend
    runtime: python
    region: oregon # or your preferred region
    plan: free
    branch: main
    rootDir: backend
    buildCommand: "./build.sh"
    startCommand: "gunicorn ecommerce_backend.wsgi:application --bind 0.0.0.0:$PORT"
    healthCheckPath: /api/products/
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: False
      - key: ALLOWED_HOSTS
        sync: false
      - key: FRONTEND_URL
        sync: false
      - key: DATABASE_URL
        fromDatabase:
          name: ecommerce-db
          property: connectionString
      - key: CLOUDINARY_CLOUD_NAME
        sync: false
      - key: CLOUDINARY_API_KEY
        sync: false
      - key: CLOUDINARY_API_SECRET
        sync: false
      - key: GROQ_API_KEY
        sync: false

databases:
  - name: ecommerce-db
    databaseName: ecommerce
    user: ecommerce
    plan: free
    region: oregon # Same region as web service
