asgiref
Django
django-cors-headers
django-filter
djangorestframework
pillow
sqlparse
tzdata
cloudinary
django-cloudinary-storage
python-dotenv
sentence-transformers
numpy
requests
groq
gunicorn
dj-database-url
psycopg2-binary
whitenoise